# IRC server to connect to
export HOST="irc.somewhere.org"

# nick to use
export NICK="thenickname"

# channels to connect to, separated by commas. may or may not be prefixed with '#'
export CHANNELS="channel,#channel2"
